@import url('https://fonts.googleapis.com/css?family=Itim');
body{
   
    width: 21cm;
    height: 29.7cm;
    border: 1px solid black;
    
}
.container{
width: 100%;
height: 15%;
border: 1px solid #33ccff;
}
.col1{
    width: 80%;
    height: 90px;
    border: 2px solid black;
    margin: 30px 75px;
    background-color: white;
}
.col2{
    width: 100%;
    height: 30%;
    
   
}
.row{
    width: 7cm;
    height: 100%;
    float: left;
   
}

.row2{
    width: 13.89cm;
    height: 100%;
    float: right;
    
}
.col3{
    width: 100%;
    height: 30%;
   
    margin: 0 auto;
}
.row3{
    width: 7cm;
    height: 100%;
    float: left;
   
}

.row4{
    width: 13.89cm;
    height: 100%;
    float: right;
    
}
hr{
    border: 2px solid blueviolet;
}
.column1{
    width: 6.9cm;
    height: 100%;
    float: left;
    
}
.column2{
    width: 6.8cm;
    height: 100%;
    float: left;
    
}.column3{
    width: 6.9cm;
    height: 100%;
    float: left;
   
}
.column4{
    width: 6.8cm;
    height: 100%;
    float: left;
    
}
h2{
    border: 1px solid black;
}
.column5{
    width: 40%;
    height: 20%;
    border: 3px solid blueviolet;
}
.footer{
    width: 30%;
    border: 1px solid aqua;
    
}
.img{
    
    margin: 40px 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 2);
}
p{
    font-family: 'Itim';
    margin: 10px;
}
.line-m1{
    margin: 80px 0px;
}
.line-m2{
    margin: 222px 0px;
}
.line-m3{
    margin: 190px 0px;
}
.line-m4{
    margin: 240px 0px;
}
.maginauto{
    margin: 0 auto;
}
.img-w220{
    width: 220px
}
.img-h220{
    height: 220px;
}
.footer1{
    width: auto;
}
.bg-color{
    background-color:aqua;
}
